<div class="div_task1">
    <p class='title'>Глава 1. Нулевой цикл</p>
    <p class="description">В этой главе собрано 25 простых задач. Для их решения не требуется ниче­го, кроме здравого смысла и простейших
    вычислительных навыков.</p>
    <p>
        <a class="task_href" href="num1">
            Задача 1.
        </a> В стакане находятся бактерии. Через секунду каждая из бактерий делится пополам, затем каждая из получившихся бактерий
        через секунду делит­ся пополам и так далее. Через минуту стакан полон. Через какое время стакан был заполнен наполовину?
    </p>
    <p>
        <a class="task_href" href="">
            Задача 2.
        </a> Аня, Ваня и Саня сели в автобус, не имея медных монет, однако сумели заплатить за проезд, потратив по пять копеек
        каждый. Как им это уда­лось?
    </p>
    <p>
        <a class="task_href" href="">
            Задача 3.
        </a>Из книги выпал кусок, первая страница которого имеет номер 328, а номер последней записывается теми же цифрами в
        каком-то другом порядке. Сколько страниц в выпавшем куске?

    </p>
    <p>
        <a class="task_href" href="num4">
            Задача 4.
        </a>В мешке 24 кг гвоздей. Как, имея только весы без стрелки, отмерить 9 кг гвоздей?   
    </p>
    <p>
        <a class="task_href" href="">
            Задача 5.
        </a>Червяк ползет по столбу, начав путь -от его основания. Каждый день он проползает вверх на 5 см, а за каждую ночь
        сползает вниз на 4 см. Когда он достигнет верхушки, столба, если его высота равна 75 см?
    </p>
    <nav class="nav_task" >
        Страницы:
        <a class="page" href="task1">1</a>
        <a class="page" href="page2">2</a>
        <a class="page" href="">3</a>
        <a class="page" href=''>4</a>
        <a class="page" href="">5</a>
    </nav>
</div>